body{
	margin-left: 80px;
	padding-left: 15px;
	border-left: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}

table, td{
	border: 1px solid #000;
}

td{
	padding: 5 10 5 10;
}

h2{
	border-bottom: 1px solid #ccc;
	padding-top: 2em;
}

h3{
	padding-top: 1.2em;
}

.signature{
	border-top: 1px solid #ccc;
	padding-top: 1em;
	font-style: italic;
	color: #999;
}

.left-table{
	float: left;
	margin-right: 20px;
}

.logo-image{
	position: fixed;
	top: 20px;
	left: 10px;
}

.email{
	vertical-align: middle;
	height: 24px;
}